.nav-bg{
  scroll-padding: 5px;
}
.image{
  width: 100%;
  padding: 10px 15px 10px 15px;
  margin: 0;
}
.introhead{
  text-align: center;
  padding-top: 5px;
  color: white;
}
.introimg{
  padding-left: 30px;
}
/*.navbar-coustomm{
  background-color: #70ff85;
}*/
.enquiry{
  text-align: center;
  font-size: 30px;
}
[placeholder]{
  font-weight: normal;
  padding-left: 15px;
  text-decoration: none;
  text-indent: 6px;
}
input,textarea{
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  border: 2px solid black;
}
.sidebg {
  display: block;
  justify-content: center;
  background-color: #00c8ff;
}
.sideimg {
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 50%;
  width: 100%;
  position: absolute;
}
/*p {
  overflow-wrap: break-word;
  white-space: normal;
}*/
.intext {
  margin: 15px 0;
figure {
  margin: 0 15px 15px 0;
figcaption{
  font-size: small;
  color: white;
  background: black;
  padding: 5px;
}
}
h2 {
margin-top: 0;
}
.video-fluid{
  width: 100%;
  height: auto;
}
